@media screen and (min-width: 640px) {
  #carte {
    height: 500px;
    width: 640px;
    border: 1px solid #ccc;
  }

  #ContainerCarte {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }
}

#center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

#list {
  height: 500px;
  overflow: auto;
}
