@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');




.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr; */
    gap: 10px 10px;
    /* grid-auto-flow: row; */
    grid-template-areas:
        "a b";
}
 
.map {
    grid-area: a;
}
 
.tableau {
    grid-area: b;
}
 
#carte{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.07;
    position: relative;
    z-index: 1000;
    background: radial-gradient(circle at 40% 40%, #00b31e91, #385503de 40%, #000000 80% 80%);


}

#hub{
    width: 100%;
    height: 100%;
    border-radius: 50%;
   
    top: -100%;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #00c9527a, #00060008 60% 60%, #6700002e 80% 80%);
    box-shadow: 0 0 15px #3fad0daa, inset 0 0 25px #00000055;
    border: 2px solid #324521;
    position: relative;

}

#content{
    margin: 5%;
    width: 90%;
    height: 70vh;
    
    background: black;
    

    
}

#boxCarte{
    width: 50vh;
    height: 50vh;

    
}

body{
    background: black;
}

#resultats{
    display: flex;
    justify-content: center;
}

#boxList{
    overflow: scroll;
    scrollbar-color: rgb(0, 46, 0) black;

    width: 40%;
    height: 50vh; 
    margin-left: 10%;
}

li{
    color: green;
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;
    margin-bottom: 20px;


}